.footer {
  padding-top: 4rem;

  .footerContainer {
    .footerMenuDiv {
      padding: 2rem;
      background: $greyColor;
      border-radius: 10px;
      gap: 1.5rem;


      .singleGrid {
        .footerTitle {
          display: block;
          padding-bottom: .5rem;
          font-size: 16px;
          color: $blackColor;
          font-weight: 700;
        }

        .footerUl {
          gap: 5px;

          .footerLi {
            color: $textColor;
            cursor: pointer;
            margin-top: 1px;

            &:hover {
              color: $blackColor;
              transform: translateX(5px);
              transition: 0.3s;
            }
          }
        }
      }
    }

    .lowerSection {
      padding: 1rem;
      text-align: center;
      margin-bottom: 2.5rem;
    }
  }
}