//NAVBAR
@media screen and (min-width: 520px) {
  .header {
    .logoDiv {
      img {
        width: 30px;
      }
    }

    .signUp {
      .text {
        padding: 6px;
        font-size: 16px;
      }

      .toggleNavbarIcon {
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: 770px) {
  .header {
    .navbar {
      .closeIcon {
        display: none;
      }

      .menu {
        display: flex;
        flex-direction: row;

        .listItem {
          padding: 0.3rem 1rem;
          border-radius: 3px;

          a {
            color: $textColor;
            font-size: 15px;
          }

          &:hover {
            background: $primaryColor;
            color: $whiteColor;
            transition: 0.3s ease;
          }

          &:hover a {
            color: $whiteColor;
          }
        }
      }
    }

    .signUp {
      .text {
        padding: 6px 10px;
        font-size: 16px;
      }

      .toggleNavbarIcon {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1064px) {
  .header {
    padding: 2rem 7rem;
    
    .navbar {
      .menu {
        .listItem {
          a {
            font-size: 17px;
          }
        }
      }
    }

    .signUp {
      .text {
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .header {
    .navbar {
      .menu {
        .listItem {
          margin: 0 0.8rem;
        }
      }
    }
  }
}

//HOME
@media screen and (min-width: 520px) {
  .home {
    .secContainer {
      .homeText {
        .homeSpan {
          font-size: 18px;
        }
      }
  
      .homeTitle {
        font-size: 35px;
      }

      .btns {
        .btn {
          font-size: 14px;
        }
      }
    }

    .homeImage {
      max-width: 85%;
    }
  }
}

@media screen and (min-width: 770px) {
  .home {
    padding-top: 10rem;

    .secContainer {
      gap: 2.5rem;

      .homeText {
        .homeSpan {
          font-size: 21px;
        }
      }
  
      .homeTitle {
        font-size: 45px;
      }

      .btns {
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (min-width: 996px) {
  .home {
    padding-top: 12rem;

    .secContainer {
      gap: 3rem;

      .homeText {
        .homeSpan {
          font-size: 25px;
        }
      }
  
      .homeTitle {
        font-size: 55px;
      }

      .btns {
        .btn {
          font-size: 16px;
          padding: 1rem 2rem;
        }
      }
    }
  }
}

//SEARCH
@media screen and (min-width: 520px) {
  .search {
    .title {
      font-size: 25px;
      padding: 2rem 0;
    }

    .searchDiv {
      input {
        padding: 10px;
        font-weight: 600;
        color: $primaryColor;
        border-radius: 3px;
      }

      .btn {
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 0.3rem;
        font-size: 16px;

        .icon {
          font-size: 18px;
        } 
      }
    }
  }
}

@media screen and (min-width: 770px) {
  .search {
    .title {
      font-size: 30px;
      padding: 2rem 0;
    }

    .searchDiv {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 770px) {
  .search {
    width: 80%;
    margin: auto;

    .searchDiv {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

//TRENDING
@media screen and (min-width: 520px) {
  .trending {
    .secContainer {
      .secHeading {
        margin-bottom: 1rem;

        .secTitle {
          font-size: 23px;
        }

        .navBtns {
          gap: 0.5rem;

          .icon {
            font-size: 40px;
          }

        }
      }

      .carContainer {
        grid-template-columns: repeat(2, 1fr);

        .singleCar {
          .carTitle {
            font-size: 18px;
          }

          .miles .AWD{
            font-size: 16px;
          }

          .rice_seller {
            span {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 940px) {
  .trending {
    .secContainer {
      .secHeading {

        .secTitle {
          font-size: 28px;
        }

        .navBtns {
          gap: 1rem;
        }
      }

      .carContainer {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

//MAIN APP
@media screen and (min-width: 520px) {
  .section {
    padding: 6rem 0 4rem;
  }

  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}